<html>
  <head>
  <style>
    .contain_form {
      width: 50%;
    }
    .form_item{
      display: flex;
    }
    .form_item label {
      flex: 1;
      text-align: right;
    }
    .form_item input {
      flex: 1;
    }
  </style>
  </head>
  <body>
  {{! 约定好当code不为0的时候是有错的时候 }}
  {{#code}}
    {{error}}
  {{/code}}
    <form class="contain_form" action="/login" method="post">
      <div class="form_item">
        <label for="loginname">用户名</label>
        <input class="name type="text" name="loginname" />
      </div>
      <div class="form_item">
        <label for="pass">密码</label>
        <input type="password" name="pass" />
      </div>
      <input  type="submit" value="Submit" />
      <a href="/search_pass">忘记密码</a>
    </form>
  </body>
</html>